{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "tracks/css/artists.css" %}">
{% endblock css %}


{% block content %}
<section class="artists-section">
    <div class="container">
        <h2>Artists</h2>
        <div class="artist-list">
            {% for artist in artists %}
            <div class="artist-card">
                <img src="{{ artist.image }}" alt="Artist 1" class="artist-image">
                <h3 class="artist-name">{{ artist.name }}$</h3>
                <a href="#" class="view-artist-button">View Artist</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "tracks/include/pagination.html" with paginator=paginator current_page=current_page %}
{% endblock content %}