{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "account/css/login.css" %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h2>{% trans "Login" %}</h2>

    <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% for f in form %}
        <p>{{ f }}</p>
    {% endfor %}
    <button type="submit">{% trans "Login" %}</button>
    </form>

    <p>{% trans "Don't have an account?" %} <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></p>
    <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a></p>
</div>
{% comment %} <h3>{% trans "Or login with" %}</h3> {% endcomment %}
{% endblock content %}

{% comment %} {% providers_media_js %} {% endcomment %}
{% comment %} {% get_providers as social_providers %} {% endcomment %}
{% comment %} <ul>
  {% for provider in social_providers %}
    <li><a href="{% provider_login_url provider.id %}">{{ provider.name }}</a></li>
  {% endfor %}
</ul> {% endcomment %}
